body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: wheat;
    margin: 0;
}

button{
    padding: 17px 40px;
    border-radius: 60px;
    cursor: pointer;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0/ 5%) 0 0 8px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
    font-family: fantasy;
}

button:hover{
    letter-spacing: 3px;
    background-color: brown;
    color: white;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.047);
}

button:active{
    letter-spacing: 3px;
    background-color: burlywood;
    color: hsl (0% , 0%, 100%);
    transform:translateY(10px); 
    transition: 75ms;
}